---
layout: default
---

<div class="home">
  <h1>Session Overview</h1></br>

  <ul class="post-list">
    {% for post in paginator.posts reversed %}
      <li>
        <h2>
          <span class="post-meta">{{post.date | date: "%A, %-d %b %R"}}-{{post.end-date | date: "%R"}}</span><br />
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br />
             <span class="post-meta">Chair: {{ post.participants }}</span><br />
             <span class="post-meta">Location: {{post.location}}</span>
        </h2><br />
        <hr />
      </li>

    {% endfor %}
  </ul>

{% include pagination.html %}
